h1 {
    text-align: center;
}

h2 {
    font-weight: 400;
    font-size: 16px;
}

#todoapp{
    text-align: center; /* Centers the text horizontally */
}

#otherpage {
    text-align: center;
}

#notloaded {
    text-align: center;
}



table {
    margin: 0 auto; /* Adjust as needed */
    border-collapse: collapse; /* Ensures a more consistent table appearance */
}

th, td {
    border: 1px solid #000; /* Adds borders to cells */
    padding: 8px; /* Adds padding inside cells */
    font-size: 16px;
}

button {
    margin-left: 8px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-green {
    background-color: green;
    color: white;
}

.button-green:hover {
    background-color: darkgreen; /* Slightly darker green */
}

.button-red {
    background-color: red;
    color: white;
}

.button-red:hover {
    background-color: darkred; /* Slightly darker red */
}